@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400&display=swap');
.box{
  z-index: 2;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.screen{
  z-index: 2;
  width:1000px;
  height: 450px;
  
}
.button{
    top:350px;
    text-decoration: none;
    font-family: 'Noto Sans Thai';
    font-size: 14px;
    color: #fff;
    position: relative;
    margin-left: 130px;
    transition: 0.3s;
    cursor: pointer;
    background-color:#C4AA55 ;
    border-radius: 10px;
    padding : 10px
}

.button:hover{
    z-index: 2;
    background-color: black;
    color: #ffff;
}
.pay{
   
  top:500px;
  display:flex;
  z-index: 2;
  width: 374px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 18px;

}
.tv{
  
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: #C4AA55;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

.vip {
    z-index: 2;
    transform: translateY(-80px) translateX(115px); /* ขยับขึ้นและไปทางซ้าย */
    position: absolute;
    padding: 10px;
    margin: 20px;
    border: 20px;
    background-color: #BCA736;
    border: 100px;
    color: #fff;
    
  }
.normal{
    z-index: 2;
    transform: translateY(-80px) translateX(-15px);
    
    position: absolute;
    padding: 10px;
    margin: 20px;
    border: 20px;
    background-color: #1A1717;
    border: 100px;
    color: #fff;
}
.price{
    z-index: 2;
    margin-top:80px ;
    margin-left: 23%;
    
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.plane {
  margin: 20px auto;
  max-width: 300px;
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}

.exit {
  position: relative;
  height: 50px;
}

.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}



ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.row.row--5 label {
  background-color: #BCA736;
  /* เพิ่มสไตล์อื่น ๆ ตามที่คุณต้องการ เช่น ขนาดตัวอักษร สีตัวอักษร และอื่น ๆ */
  color: #000000;
  padding: 5px 10px;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.seat {
  display: flex;
  flex: 0 0 14.2857142857%;
  padding: 5px;
  position: relative;
}

.seat:nth-child(3) {
  margin-right: 14.2857142857%;
}
.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seat input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat input[type=checkbox]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  color: #000000;
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #082e52;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}

.seat2 {
  display: flex;
  flex: 0 0 14.2857142857%;
  padding: 5px;
  position: relative;
}

.seat2:nth-child(3) {
  margin-right: 14.2857142857%;
}
.seat2 input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seat2 input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat2 input[type=checkbox]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat2 input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat2 input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat2 label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #082e52;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat2 label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.seat2 label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}


@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}